@{
    ViewBag.Title = "Home Page";
}

<p></p>
<p></p>
<div class="jumbotron">
    <h1>Welcome to The Cupcake Shop!</h1>
    <p class="lead">Here you will find all sorts of cupcakes in our inventory, and will even be able to create your own!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Show Cupcakes</h2>
        <p>
            Here you will be able to view our full inventory of cupcakes. The Names, Prices, and Dates of creation / modification will be listed. Find your cupcake today!
        </p>
        <p><a class="btn btn-default" href="~/Cupcakes">View Inventory &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Search for Cupcakes</h2>
        <p>Using our search, you will be able to find your exact desired cupcake by name. Try our search now!</p>
        <p><a class="btn btn-default" href="~/Cupcakes/SearchForm">Search Cupcakes &raquo;</a></p>
    </div>
    
</div>