@model CupcakeEntity.Models.CupcakeModel

@{
    ViewBag.Title = "SearchForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<p></p>
<h2>Search Form</h2>


@using (Html.BeginForm("SearchForName","Cupcakes")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CupcakeModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">

                <label for="searchPhrase" class="h6">Search Name</label>
                <input type="text" name="searchPhrase" id="searchPhrase" class="form-control" />

            </div>
        </div>

        
        <p></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="color:#485785" type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p></p>
<a class="btn btn-default btn-sm" href="~/cupcakes">Back to List</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
